table tr td {
    width: 75px;
    height: 75px;
    border: 5px solid blue;
    border-radius: 60px;
    background-color: white;
    
}
table{
    background-color: blue;
}

.player1{

    background-color:yellow;
   
}

.player2{
    background-color: red;
   
}
